{% extends 'base.html' %}
{% load static %}
{% block title %}Бронирование{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static "home/css/booking.css" %}">
{% endblock %}

{% block content %}

    <!-- <div id="calendar"></div> -->

    <div id="filter">

        <h2>Выберите желаемые корпуса:</h1>
        <div id="building-list" class="horizontal-list">
            Загрузка...
        </div>

        <h2>Выберите желаемую вместимость:</h1>
        <div id="capacity-div" class="horizontal-div">
            <label for="minimum-capacity" class="horizontal-div-element">От</label>
            <input id="minimum-capacity" class="horizontal-div-element" type="text" placeholder="0">
            <p class="horizontal-div-element">чел.</p>

            <label for="maximum-capacity" class="horizontal-div-element">До</label>
            <input id="maximum-capacity" class="horizontal-div-element" type="text" placeholder="300">
            <p class="horizontal-div-element">чел.</p>
        </div>

        <h2>Выберите желаемое время:</h1>
        <div id="time-choosing-div" class="horizontal-div">
            <label for="start-time" class="horizontal-div-element">С</label>
            <p id="start-error" hidden>Дата должна быть в формате 2000-12-31.</p>
            <input id="start-time" class="horizontal-div-element" type="text" placeholder="ЧЧ:ММ">

            <label for="end-time" class="horizontal-div-element">До</label>
            <p id="end-error" hidden>Время должно быть в формате 23:59.</p>
            <input id="end-time" class="horizontal-div-element" type="text" placeholder="ЧЧ:ММ">

            <p id="date-error" hidden>Время должно быть в формате 23:59.</p>
            <input id="custom-date" class="horizontal-div-element" type="text" placeholder="дд/мм/гггг">
        </div>

        <button id="search-auditoriums-button" onclick="findAuditoriums()">Поиск подходящих аудиторий</button>

        <h2>Доступные аудитории:</h1>
        <div id="auditorium-list">
            Загрузка...
        </div>

        <button id="book-button" onclick="book()" hidden>Забронировать</button>


    </div>

    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/validation.js" %}"></script>

    <script>
        document.getElementById('custom-date').addEventListener('input', function(e) {
            let value = this.value.replace(/\D/g, '');
            
            if (value.length > 2) value = value.substring(0, 2) + '-' + value.substring(2);
            if (value.length > 5) value = value.substring(0, 5) + '-' + value.substring(5, 9);
            
            this.value = value.substring(0, 10);
        });


        document.getElementById('start-time').addEventListener('input', function(e) {
            let value = this.value.replace(/\D/g, '');
            
            if (value.length > 2) value = value.substring(0, 2) + ':' + value.substring(2);
            
            this.value = value.substring(0, 5);
        });


        document.getElementById('end-time').addEventListener('input', function(e) {
            let value = this.value.replace(/\D/g, '');
            
            if (value.length > 2) value = value.substring(0, 2) + ':' + value.substring(2);
            
            this.value = value.substring(0, 5);
        });

        document.getElementById("minimum-capacity").addEventListener('input', function(e) {
            this.value = this.value.replace(/\D/g, '');
        });

        document.getElementById("maximum-capacity").addEventListener('input', function(e) {
            this.value = this.value.replace(/\D/g, '');
        });

        let user = null;
        const search_auditoriums_button = document.getElementById("search-auditoriums-button");
        const book_button = document.getElementById("book-button");
        const building_list = document.getElementById("building-list");
        const auditorium_list = document.getElementById("auditorium-list");

        const minimum_capacity = document.getElementById("minimum-capacity");
        const maximum_capacity = document.getElementById("maximum-capacity");

        const start = document.getElementById("start-time");
        const end = document.getElementById("end-time");
        const date = document.getElementById("custom-date");

        document.addEventListener('DOMContentLoaded', async function() {
            // Получаем данные пользователя
            try {
                const resp = await fetch(`${BACKEND_URL}/my/profile`, {
                    method: "GET",
                    credentials: "include"
                });
                const data = await resp.json();
                user = data.user;
                
                // Загружаем корпуса после получения данных пользователя
                await fetchBuildings();
            } catch (error) {
                console.error("Ошибка при загрузке данных пользователя:", error);
            }
        });


        async function findAuditoriums() {
            showLoading();

            let response = await fetch(`${BACKEND_URL}/users/${user.id}/auditoriums`, {
                method: "GET",
                credentials: "include"
            });
            let auditoriums = (await response.json()).auditoriums;

            if (auditoriums.length == 0) {
                hideLoading();
                document.getElementById("auditorium-list").textContent = "<p>Нет подходящих аудиторий</p>";
                return;
            }

            // Фильтрация по минимальной вместимости аудитории
            if (minimum_capacity.value.trim() !== "") {
                console.log("Фильтрация по минимальной вместимости аудитории");
                const min_cap = parseInt(minimum_capacity.value);
                auditoriums = auditoriums.filter((auditorium) => min_cap <= auditorium.size);
            }

            // Фильтрация по максимальной вместимости аудитории
            if (maximum_capacity.value.trim() !== "") {
                console.log("Фильтрация по максимальной вместимости аудитории");
                const max_cap = parseInt(maximum_capacity.value);
                auditoriums = auditoriums.filter((auditorium) => auditorium.size <= max_cap);
            }

            // Фильтрация по выбранным корпусам
            let selected_buildings = Array.from(document.getElementsByClassName("selected-buildings")).map(building => building.id);
            if (selected_buildings.length > 0) {
                console.log("Фильтрация по выбранным корпусам");
                auditoriums = auditoriums.filter(auditorium => 
                    selected_buildings.includes(auditorium.building.id.toString())
                );
            }

            // Фильтрация по времени
            if (validate_date(date.textContent) && validate_time(start.textContent) && validate_time(end.textContent)) {
                console.log("Фильтрация по времени");
                const parts = date.textContent.split('-');
                let date_reversed = `${parts[2]}-${parts[1]}-${parts[0]}`;
                showLoading();
                let response = await fetch(
                    `${BACKEND_URL}/auditoriums?date=${date_reversed}&start=${start.textContent}&end=${end.textContent}`, {
                        method: "GET",
                        credentials: "include"
                    });
                let free_auditoriums = (await response.json()).auditoriums;

                hideLoading();
                auditoriums = free_auditoriums.filter(value => auditoriums.includes(value));
            } else {
                if (!(date.textContent === "" && start.textContent === "" && end.textContent === "")) {
                    document.getElementById("date_error").hidden = validate_date(date.textContent);
                    document.getElementById("start_error").hidden = validate_time(start.textContent);
                    document.getElementById("end_error").hidden = validate_time(end.textContent);
                }
            }

            auditorium_list.innerHTML = '';
            auditoriums.forEach(auditorium => {
                // auditorium_list
                console.log(auditorium);

                let item = document.createElement("div");
                item.classList.add("horizontal-div");

                let aud_capacityaud_number = document.createElement("span");
                aud_number.textContent = auditorium.number;
                aud_number.classList.add("horizontal-div-element");

                let aud_capacity = document.createElement("span");
                aud_capacity.textContent = auditorium.size;
                aud_number.classList.add("horizontal-div-element");

                let aud_building = document.createElement("span");
                aud_building.textContent = auditorium.building.name;
                aud_building.classList.add("horizontal-div-element");


                item.appendChild(aud_number);
                item.appendChild(aud_capacity);
                item.appendChild(aud_building);
                auditorium_list.appendChild(item);
            });

            hideLoading();
        }


        async function fetchBuildings() {
            showLoading();
            let response = await fetch(`${BACKEND_URL}/buildings`, {
                method: "GET",
                credentials: "include"
            });
            const buildings = (await response.json()).buildings;

            if (buildings.length > 0) {
                building_list.textContent = '';
            }

            buildings.forEach(building => {
                
                const building_el = document.createElement("div");
                let name = document.createElement("span");
                name.textContent = building.name;
                building_el.appendChild(name);
                building_el.value = building.id;

                building_el.classList.add("horizontal-list-element");
                building_el.classList.add("building");
                building_el.onclick = () => {
                    if (building_el.classList.contains("selected-buildings")) {
                        building_el.classList.remove("selected-buildings");
                        building_el.style.backgroundColor = "#e0e0e0";
                    } else {
                        building_el.classList.add("selected-buildings");
                        building_el.style.backgroundColor = "gray";
                    }
                };

                building_list.appendChild(building_el);
            });
            hideLoading();
        }
    





    </script>



{% endblock %}

