{% extends "base.html" %}
{% load static %}

{% block title %}Запросы на бронирование аудиторий{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static "home/css/listlike.css" %}">
{% endblock %}


{% block content %}
    <div id="error-popup" class="error-popup" hidden>Ошибка! Что-то пошло не так.</div>
    <div id="message-popup" class="message-popup" hidden>Уведомление</div>
    <div id="loading"></div>


    <h1>Запросы на бронрование аудиторий</h1>

    <div id="requestsBlock">
        <div class="request-list" id="requestList">
            Загрузка...
        </div>
    </div>



    <script src="{% static "js/utils.js" %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            await fetchRequests();
        });
        // TODO ДОДЕЛАЙ ЭТО ВСЕ НЕ ЗАБУДЬ МАЛЕНЬКИЙ ТОЛСТЫЙ МАЛЬЧИШКА!!!

        async function fetchRequests() {
            showLoading();
            const response = await fetch(BACKEND_URL + "/booking/requests", {
                method: "GET",
                credentials: "include"
            });
            let reqs = (await response.json()).requests;
            const container = document.getElementById('requestList');
            container.innerHTML = '';

            if (reqs.length === 0) {
                hideLoading();
                container.innerHTML = '<p>Запросов пока нет.</p>';
                return;
            }

            reqs.forEach(request => {
                const item = document.createElement('div');
                item.classList.add("horizontal-div");
                item.classList.add("block");

                const name = document.createElement('span');
                name.classList.add("block-item");
                name.textContent = `${request.user.first_name} ${request.user.patronymic} ${request.user.last_name}`;
                name.onclick = () => {window.location.replace(`/users/${request.user.id}`)};

                const aud_number = document.createElement('span');
                aud_number.classList.add("block-item");
                aud_number.textContent = request.auditorium.number;
                // aud_number.onclick = () => {открыть страницу аудитории};

                const aud_building = document.createElement('span');
                aud_building.classList.add("block-item");
                aud_building.textContent = `${request.auditorium.building.name}`;

                const aud_capacity = document.createElement('span');
                aud_capacity.classList.add("block-item");
                aud_capacity.textContent = `${request.auditorium.size} чел.`;

                const start = document.createElement('span');
                start.classList.add("block-item");
                const end = document.createElement('span');
                end.classList.add("block-item");
                
                const start_date = new Date(request.start);
                const end_date = new Date(request.end);
                const now = new Date();

                const padZero = num => num.toString().padStart(2, '0');

                const str_date1 = `${padZero(start_date.getDate())}.${padZero(start_date.getMonth() + 1)}.${start_date.getFullYear()}`;
                const str_date2 = `${padZero(end_date.getDate())}.${padZero(end_date.getMonth() + 1)}.${end_date.getFullYear()}`;
                const str_start = `${padZero(start_date.getHours())}:${padZero(start_date.getMinutes())}`;
                const str_end = `${padZero(end_date.getHours())}:${padZero(end_date.getMinutes())}`;

                start.textContent = `Начало: ${str_start} ${str_date1}`;
                end.textContent = `Конец: ${str_end} ${str_date2}`;


                const approveBtn = document.createElement('button');
                approveBtn.classList.add("block-item");
                approveBtn.textContent = 'Подтвердить';
                approveBtn.classList.add("button");
                approveBtn.onclick = () => approveRequest(request);

                const deleteBtn = document.createElement('button');
                deleteBtn.textContent = 'Удалить';
                deleteBtn.classList.add("delete-button");
                deleteBtn.classList.add("block-item");
                deleteBtn.onclick = () => deleteRequest(request);

                item.appendChild(name);
                item.appendChild(aud_number);
                item.appendChild(aud_building);
                item.appendChild(aud_capacity);
                item.appendChild(start);
                item.appendChild(end);
                item.appendChild(approveBtn);
                item.appendChild(deleteBtn);
                container.appendChild(item);
            });
            hideLoading();
        }

        async function approveRequest(request) {
            showLoading();
            let response = await fetch(`${BACKEND_URL}/booking/requests/${request.id}`, {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json'
                },
            });
            hideLoading();
            if (response.ok) {
                showMessage("Заявка одобрена");
                await fetchRequests();
            } else {
                showError((await response.json()).error);
            }
        }

        async function deleteRequest(request) {
            showLoading();
            let response = await fetch(`${BACKEND_URL}/booking/requests/${request.id}`, {
                method: 'DELETE',
                credentials: 'include'
            });
            hideLoading();
            if (response.ok) {
                showMessage("Заявка отклонена");
                await fetchRequests();
            } else {
                showError((await response.json()).error);
            }
        }


    </script>


{% endblock %}

