{% extends "base.html" %}
{% load static %}

{% block title %}Корпуса{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static "home/css/listlike.css" %}">
    <link rel="stylesheet" href="{% static "home/css/block.css" %}">
{% endblock %}


{% block content %}

    <body>
    <div id="error-popup" class="error-popup" hidden>Ошибка! Что-то пошло не так.</div>
    <div id="message-popup" class="message-popup" hidden>Уведомление</div>
    <div id="loading"></div>

    <div class="building-page">
        <div class="card">
            <h1>Корпуса</h1>

            <div class="form-group">
                <label for="name">Название корпуса</label>
                <strong id="name_error" class="error-message" hidden>Название должно быть уникальным и минимум 2 символа.</strong>
                <div class="horizontal-div">
                    <input type="text" id="name" name="name" class="input-field" placeholder="Введите название" autocomplete="off" minlength="3"/>

                    <button id="btnCreateBuilding" class="btn" onclick="createBuilding()">Добавить</button>
                </div>
            </div>

            <div id="buildingList" class="itemls">
                <p>Загрузка...</p>
            </div>

            <div id="messageBox" class="message"></div>
        </div>
    </div>
    </body>



    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/validation.js" %}"></script>

    <script>

        document.addEventListener('DOMContentLoaded', fetchBuildings);

        async function fetchBuildings() {
            showLoading();
            let response = await fetch(BACKEND_URL + '/buildings', {
                method: 'GET',
                credentials: 'include'
            });
            if (response.ok) {
                const buildings = (await response.json()).buildings;
                const container = document.getElementById('buildingList');
                container.innerHTML = '';

                if (buildings.length === 0) {
                    container.innerHTML = '<p>Корпусов пока нет.</p>';
                    return;
                }

                buildings.forEach(building => {
                    const item = document.createElement('div');
                    item.className = 'horizontal-div';

                    const name = document.createElement('span');
                    name.textContent = building.name;

                    const delBtn = document.createElement('button');
                    delBtn.id = "deleteButton"
                    delBtn.textContent = 'Удалить';
                    delBtn.classList.add('delete-button');
                    delBtn.onclick = () => deleteBuilding(buildings);

                    item.appendChild(name);
                    item.appendChild(delBtn);
                    container.appendChild(item);
                    container.appendChild(document.createElement('br'));
                });
            }
            hideLoading();
        }

        async function deleteBuilding(buildings) {
            showLoading();
            let response = await fetch(BACKEND_URL + `/buildings/${building.id}`, {
                method: 'DELETE',
                credentials: 'include'
            });
            hideLoading();
            if (response.ok) {
                showMessage("Корпус успешно удален");
                await fetchBuildings();
            } else {
                showError("Ошибка");
            }
        }


        async function createBuilding() {
            let name = document.getElementById("name");
            if (validate(name, /^.{3,}$/))
            showLoading();
            document.getElementById("name_error").hidden = name.value !== "";
            let response = await fetch(BACKEND_URL + '/buildings/new', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include',
                body: JSON.stringify({
                    name: name.value,
                })
            });
            hideLoading();
            if (response.ok) {
                showMessage("Корпус добавлен");
                await fetchBuildings();
            } else {
                if ((await response.json())["message"] !== undefined) {
                    document.getElementById('message_error').hidden = false;
                }
                showError("Ошибка!");
            }
        }


    </script>


{% endblock %}

