{% extends 'base.html' %}
{% load static %}
{% block title %}Ваши лекции{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static "home/css/listlike.css" %}">
{% endblock %}

{% block content %}
    
    <h1>Ваши лекции</h1>

    <div id="lecturesBlock">
        <label>Показывать только предстоящие лекции</label>
        <label class="switch">
            <input id="lecturesModeCheckbox" type="checkbox">
            <span class="slider round"></span>
        </label>
        <div class="lecture-list" id="lectureList">
            Загрузка...
        </div>
    </div>

    <script src="{% static "js/utils.js" %}"></script>

    <script>
        let lecturesModeCheckbox = document.getElementById("lecturesModeCheckbox");


        document.addEventListener('DOMContentLoaded', fetchLectures);

        lecturesModeCheckbox.addEventListener("change", (e) => {
            fetchLectures();
        })


        async function fetchLectures() {
            showLoading();
            const isUpcoming = document.getElementById("lecturesModeCheckbox").checked;

            const res = await fetch(BACKEND_URL + "/my/lectures" + (isUpcoming ? "/upcoming" : ""), {
                method: 'GET', credentials: 'include'   
            });
            if (!res.ok) {
                hideLoading();
                showError("Ошибка при загрузке лекций.");
                return;
            }
            const lectures = (await res.json()).lectures;
            const container = document.getElementById('lectureList');
            container.innerHTML = '';

            if (lectures.length === 0) {
                hideLoading();
                container.innerHTML = '<p>Лекций пока нет.</p>';
                return;
            }

            lectures.forEach(lecture => {
                const item = document.createElement('div');
                item.className = 'lecture-item';
                item.classList.add("horizontal-div");

                const name = document.createElement('span');
                name.textContent = `${lecture.user.first_name} ${lecture.user.patronymic} ${lecture.user.last_name}`;
                const start = document.createElement('span');
                const end = document.createElement('span');
                const auditorium = document.createElement('span');
                const auditorium_building = document.createElement('span');
                auditorium.textContent = `${lecture.auditorium.number}`;
                auditorium_building.textContent = `${lecture.auditorium.building.name}`;
                
                const start_date = new Date(lecture.start);
                const end_date = new Date(lecture.end);
                const now = new Date();

                const padZero = num => num.toString().padStart(2, '0');

                const str_date1 = `${padZero(start_date.getDate())}.${padZero(start_date.getMonth() + 1)}.${start_date.getFullYear()}`;
                const str_date2 = `${padZero(end_date.getDate())}.${padZero(end_date.getMonth() + 1)}.${end_date.getFullYear()}`;
                const str_start = `${padZero(start_date.getHours())}:${padZero(start_date.getMinutes())}`;
                const str_end = `${padZero(end_date.getHours())}:${padZero(end_date.getMinutes())}`;

                start.textContent = `Начало:  ${str_start} ${str_date1}`;
                end.textContent = `Конец:  ${str_end} ${str_date2}`;

                item.appendChild(auditorium);
                item.appendChild(auditorium_building);
                item.appendChild(start);
                item.appendChild(end);
                // item.appendChild(name);

                if (end_date >= now) {
                    const delBtn = document.createElement('button');
                    delBtn.textContent = 'Удалить';
                    delBtn.classList.add("delete-button");
                    delBtn.onclick = () => deleteLecture(lecture);
                    item.appendChild(delBtn);
                }

                container.appendChild(item);
            });
            hideLoading();
        }

        async function deleteLecture(lecture) {
            showLoading();
            let response = await fetch(`${BACKEND_URL}/users/${lecture.user.id}/lectures/${lecture.id}`, {
                method: 'DELETE', credentials: 'include'
            });
            hideLoading();
            if (response.ok) {
                showMessage("Лекция успешно удалена");
                await fetchLectures();
            } else {
                showError(response.e);
            }
        }

    </script>

{% endblock %}

