{% extends "base.html" %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static "home/css/profile.css" %}">
{% endblock %}

{% block content %}
    <div class="profile-container">

        <h1>Профиль пользователя</h1>

        <div class="profile-info">
            <div class="profile-info">
                <label for="first_name">Имя:</label>
                <input type="text" id="first_name" name="first_name" class="edit-input" hidden>

                <label for="patronymic">Отчество:</label>
                <input type="text" id="patronymic" name="patronymic" class="edit-input" hidden>

                <label for="last_name">Фамилия:</label>
                <input type="text" id="last_name" name="last_name" class="edit-input" hidden>

                <label for="email">Почта:</label>
                <p id="email" class="info-element">...</p>

                <label for="role">Роль:</label>
                <select id="role" name="role" hidden required>
                    <option value="teacher">Преподаватель</option>
                    <option value="moderator">Модератор</option>
                    <option value="admin">Администратор</option>
                </select>

                <div class="profile-actions">
                    <button id="save-button" class="btn" hidden>Сохранить изменения</button>

                    <button id="delete-button" class="btn" hidden>Удалить пользователя</button>
                </div>

                <div class="limitations" id="limitations" hidden>
                    <label for="hours-amount">Максимальное количество часов брони: </label>
                    <p id="hours-amount_regex_error" class="info-element" hidden>Только положительные значения!</p>
                    <input type="number" id="hours-amount" class="edit-input">
                    <label for="auditoriums-amount">Максимальное количество лекций для брони: </label>
                    <p id="auditoriums-amount_regex_error" class="info-element" hidden>Только положительные
                        значения!</p>
                    <input type="number" id="auditoriums-amount" class="edit-input">

                    <button id="save-limitations-button" class="btn">Сохранить лимиты</button>
                </div>


                <div id="role_approvance_requests">
                    <p id="wannabe_role_message" hidden>Пользователь запросил смену роли на:</p>
                    <p id="wannabe_role" hidden>Преподаватель</p>
                    <button id="approve-role-button" class="btn" hidden>Подтвердить роль</button>
                </div>

                <div id="allowing-auditoriums" hidden>
                    <label for="auditorium-choice">Новая аудитория: </label>
                    <select id="auditorium-choice" name="role" hidden required></select>

                    <button id="allow-auditorium-button" class="btn">Добавить аудиторию</button>
                    <button id="reset-auditoriums-button" class="btn">Сбросить аудитории</button>

                    <div id="allowed-auditoriums-block">
                        <div class="allowed-auditorium-list" id="allowed-auditorium-list">
                            Загрузка...
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="{% static "js/validation.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>

    <script>

        const user_id = {{ user_id }};

        const firstName = document.getElementById("first_name");
        const patronymic = document.getElementById("patronymic");
        const lastName = document.getElementById("last_name");
        const email = document.getElementById("email");
        const role = document.getElementById("role");

        const hoursAmount = document.getElementById("hours-amount");
        const auditoriumsAmount = document.getElementById("auditoriums-amount");

        const firstNameInput = document.getElementById("first_name_input");
        const patronymicInput = document.getElementById("patronymic_input");
        const lastNameInput = document.getElementById("last_name_input");
        const roleInput = document.getElementById("role_input");

        const saveEditButton = document.getElementById("save-button");
        const deleteButton = document.getElementById("delete-button");
        const saveLimitationsButton = document.getElementById("save-limitations-button");
        const approveRoleButton = document.getElementById("approve-role-button");
        const wannabeRole = document.getElementById("wannabe_role");

        const limitations = document.getElementById("limitations");
        const allowingAuditoriums = document.getElementById("allowing-auditoriums");
        const allowAuditoriumButton = document.getElementById("allow-auditorium-button");
        const resetAuditoriumsButton = document.getElementById("reset-auditoriums-button");


        saveLimitationsButton.addEventListener("click", async () => {
            await loadAuditoriums();
        });

        resetAuditoriumsButton.addEventListener("click", async () => {
            await resetAuditoriums();
            await loadAuditoriums();
        });

        allowAuditoriumButton.addEventListener("click", async () => {
            await allowAuditorium();
            await loadAuditoriums();
        });

        saveLimitationsButton.addEventListener("click", () => {
            document.getElementById("hours-amount_regex_error").hidden = hoursAmount.value >= 0;
            document.getElementById("auditoriums-amount_regex_error").hidden = auditoriumsAmount.value >= 0;
            if (hoursAmount.value >= 0 && auditoriumsAmount.value >= 0) {
                if (hoursAmount.value) {
                    fetch(BACKEND_URL + `/users/${user_id}/limit/hours`, {
                        method: "PATCH",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        credentials: "include",
                        body: JSON.stringify({
                            amount: hoursAmount.value,
                        })
                    });
                }
                if (auditoriumsAmount.value) {
                    fetch(BACKEND_URL + `/users/${user_id}/limit/auditoriums`, {
                        method: "PATCH",
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            amount: auditoriumsAmount.value,
                        })
                    });
                }
                showMessage("Данные обновлены.");
            }
        })

        document.addEventListener("DOMContentLoaded", async () => {
            const me = (await fetchJSON(`${BACKEND_URL}/my/profile`)).user;
            const user = (await fetchJSON(`${BACKEND_URL}/users/${user_id}`)).user;

            loadUserData(user);

            deleteButton.hidden = me.id === user_id;
            saveEditButton.hidden = me.id !== user_id;
            document.getElementById("role_approvance_requests").hidden = me.id === user_id;

            if (isModerator(me.role)) {

                limitations.hidden = false;

                allowingAuditoriums.hidden = false;
                await loadAuditoriums();

                if (isAdmin(me.role)) {
                    deleteButton.hidden = false;

                    const wannabeResponse = await fetch(`${BACKEND_URL}/users/${user_id}/wannabe`, {
                        method: "GET",
                        credentials: "include"
                    });

                    if (wannabeResponse.ok) {
                        const wannabe = (await wannabeResponse.json()).role;
                        wannabeRole.textContent = wannabe.role;
                    }
                    document.getElementById("role_approvance_requests").hidden = !wannabeResponse.ok;
                }
            }
        });


        saveEditButton.addEventListener("click", async () => {
            await saveEditedUser();
        });

        approveRoleButton.addEventListener("click", async () => {
            await approve_role();
        });

        deleteButton.addEventListener("click", async () => {
            const response = await fetch(`${BACKEND_URL}/users/${user_id}/delete`, {
                method: "DELETE",
                credentials: "include",
            });
            if (response.ok) {
                window.location.replace("/users");
            } else {
                showError("Ошибка при удалении пользователя");
            }
        });


        function loadUserData(user) {
            firstName.value = user.first_name;
            patronymic.value = user.patronymic;
            lastName.value = user.last_name;
            email.textContent = user.email;
            role.value = user.role;
            document.getElementById("hours-amount").value = user.hours_limit;
            document.getElementById("auditoriums-amount").value = user.booking_limit;
        }

        async function saveEditedUser() {
            const newUser = {
                first_name: firstName.value,
                patronymic: patronymic.value,
                last_name: lastName.value,
                role: role.value
            };

            const response = await fetch(`${BACKEND_URL}/users/${user_id}`, {
                method: "PATCH",
                headers: {'Content-Type': 'application/json'},
                credentials: "include",
                body: JSON.stringify(newUser)
            });

            if (response.ok) {
                const updated_user = (await response.json()).user;
                loadUserData(updated_user);
                showMessage("Профиль успешно обновлён");
            } else {
                showError("Ошибка при обновлении профиля");
            }
        }

        async function fetchJSON(url) {
            const response = await fetch(url, {method: "GET", credentials: "include"});
            return response.ok ? await response.json() : {};
        }

        async function approve_role() {
            let response = await fetch(BACKEND_URL + "/users/${user_id}/role", {
                method: "PATCH",
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    role: ROLES_CHOICES[wannabeRole.value],
                })
            });
            if (response.ok) {
                await loadUserData();
            } else {
                showError("Ошибка при подтверждении роли");
            }
        }

        async function loadAuditoriums() {
            const selectElement = document.getElementById("auditorium-choice");
            const listElement = document.getElementById("allowed-auditorium-list");

            selectElement.innerHTML = "";
            listElement.innerHTML = "";

            try {
                let response = await fetch(`${BACKEND_URL}/users/${user_id}/auditoriums`, {
                    method: "GET",
                    credentials: "include"
                });
                if (!response.ok) throw new Error("Ошибка загрузки разрешенных аудиторий");
                const allowed_auditoriums = (await response.json()).auditoriums || [];

                response = await fetch(`${BACKEND_URL}/auditoriums`, {
                    method: "GET",
                    credentials: "include"
                });
                if (!response.ok) showError("Ошибка загрузки аудиторий");
                const auditoriums = (await response.json()).auditoriums || [];

                if (allowed_auditoriums.length === 0) {
                    listElement.textContent = "Нет разрешенных аудиторий.";
                }

                auditoriums.forEach(auditorium => {
                    const option = document.createElement("option");
                    option.value = auditorium.id;
                    option.textContent = `${auditorium.number}`;
                    selectElement.appendChild(option);
                });

                allowed_auditoriums.forEach(auditorium => {
                    const div = document.createElement("div");
                    div.textContent = auditorium.name + " ";

                    const deleteButton = document.createElement("button");
                    deleteButton.textContent = "Удалить";
                    deleteButton.addEventListener("click", async () => {
                        await deleteAuditorium(auditorium.id);
                        await loadAuditoriums();
                    });

                    div.appendChild(deleteButton);
                    listElement.appendChild(div);
                });

                selectElement.hidden = false;

            } catch (error) {
                showError(error.message);
            }
        }

        async function deleteAuditorium(auditoriumId) {
            const response = await fetch(`${BACKEND_URL}/users/${user_id}/auditoriums/${auditoriumId}`, {
                method: "DELETE",
                credentials: "include"
            });
            if (!response.ok) showError("Не удалось удалить аудиторию");
        }

        async function resetAuditoriums() {
            const response = await fetch(`${BACKEND_URL}/users/${user_id}/auditoriums/reset`, {
                method: "DELETE",
                credentials: "include"
            });
            if (response.ok) showMessage("Все аудитории сброшены");
        }


        async function allowAuditorium() {
            const response = await fetch(`${BACKEND_URL}/users/${user_id}/auditoriums`, {
                method: "POST",
                headers: {'Content-Type': 'application/json'},
                credentials: "include",
                body: JSON.stringify({
                    auditorium_id: document.getElementById("auditorium-choice").value
                })
            });
            if (response.ok) showMessage("Аудитория была добавлена в разрешенные.");
            else showError("Ошибка")
        }


    </script>

{% endblock %}