{% extends "base.html" %}
{% load static %}

{% block title %}Запросы на получение роли{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static "home/css/listlike.css" %}">
{% endblock %}


{% block content %}

    <h1>Запросы на получение роли</h1>


    <div id="requestsBlock">
        <div class="request-list" id="requestList">
            Загрузка...
        </div>
    </div>

    <script src="{% static "js/utils.js" %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            await fetchRequests();
        });

        async function fetchRequests() {
            const response = await fetch(BACKEND_URL + "/requests", {
                method: "GET",
                credentials: "include"
            });
            let reqs = (await response.json()).requests;
            const container = document.getElementById('requestList');
            container.innerHTML = '';

            if (reqs.length === 0) {
                container.innerHTML = '<p>Запросов пока нет.</p>';
                return;
            }

            reqs.forEach(request => {
                const item = document.createElement('div');
                item.className = 'request-item';

                const name = document.createElement('span');
                name.textContent = `${request.user.first_name} ${request.user.patronymic} ${request.user.last_name}`;

                const role = document.createElement('span');
                role.textContent = ROLES_CHOICES[request.wannabe_role];
                role.style.color = ROLES_COLORS[request.wannabe_role];

                const approveBtn = document.createElement('button');
                approveBtn.textContent = 'Подтвердить';
                approveBtn.onclick = () => approveRequest(request);

                const deleteBtn = document.createElement('button');
                deleteBtn.textContent = 'Удалить';
                deleteBtn.onclick = () => deleteRequest(request);

                item.appendChild(name);
                item.appendChild(role);
                item.appendChild(approveBtn);
                item.appendChild(deleteBtn);
                container.appendChild(item);
            });

        }

        async function approveRequest(request) {
            let response = await fetch(`${BACKEND_URL}/requests/${request.id}`, {
                method: 'PATCH',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json'
                },
            });
            if (response.ok) {
                showMessage("Заявка одобрена");
                await fetchRequests();
            } else {
                showError("Ошибка");
            }
        }

        async function deleteRequest(request) {
            let response = await fetch(`${BACKEND_URL}/requests/${request.id}`, {
                method: 'DELETE', credentials: 'include'
            });
            if (response.ok) {
                showMessage("Заявка отклонена");
                await fetchRequests();
            } else {
                showError("Ошибка");
            }
        }


    </script>


{% endblock %}

