{% extends "base.html" %}
{% load static %}

{% block title %}Пользователи{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static "home/css/listlike.css" %}">
    <link rel="stylesheet" href="{% static "home/css/block.css" %}">
{% endblock %}

{% block content %}
    <div class="equipment-page">
        <div class="container">
            <h1>Пользователи</h1>

            <div id="usersBlock">
                <div class="user-list" id="user-list">
                    Загрузка...
                </div>
            </div>

            <div id="messageBox" class="message"></div>
        </div>
    </div>

    <script src="{% static "js/utils.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            await fetchUsers();
        });

        async function fetchUsers() {
            const response = await fetch(BACKEND_URL + "/users", {
                method: "GET",
                credentials: "include"
            });
            if (!response.ok) {
                showError("Ошибка загрузки пользователей!");
                return;
            }

            let users = (await response.json()).users;
            const container = document.getElementById('user-list');
            container.innerHTML = '';

            if (users.length === 0) {
                container.innerHTML = '<p>Пользователей пока нет.</p>';
                return;
            }

            users.forEach(user => {
                const item = document.createElement('div');
                item.className = 'block-item';

                const left = document.createElement('div');
                left.className = 'item-left';
                left.textContent = `${user.first_name} ${user.patronymic} ${user.last_name}`;
                left.onclick = () => {
                    window.location.replace(`users/${user.id}`);
                };

                const center = document.createElement('div');
                center.className = 'item-center';
                center.textContent = ROLES_CHOICES[user.role];
                center.style.color = ROLES_COLORS[user.role];

                const right = document.createElement('div');
                right.className = 'item-right';

                const deleteBtn = document.createElement('button');
                deleteBtn.textContent = 'Удалить';
                deleteBtn.onclick = () => deleteUser(user);

                right.appendChild(deleteBtn);

                item.appendChild(left);
                item.appendChild(center);
                item.appendChild(right);
                container.appendChild(item);
            });
        }

        async function deleteUser(user) {
            let response = await fetch(`${BACKEND_URL}/users/${user.id}/delete`, {
                method: 'DELETE', credentials: 'include'
            });
            if (response.ok) {
                showMessage("Пользователь удалён.");
                await fetchUsers();
            } else {
                showError("Ошибка при удалении пользователя.");
            }
        }
    </script>
{% endblock %}
