{% extends "base.html" %}
{% load static %}

{% block title %}Пользователи{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static "home/css/listlike.css" %}">
{% endblock %}

{% block content %}
    <div id="loading"></div>
    <div class="equipment-page">
        <div class="container">
            <h1>Пользователи</h1>

            <div id="usersBlock">
                <div class="user-list" id="user-list">
                    Загрузка...
                </div>
            </div>

            <div id="messageBox" class="message"></div>
        </div>
    </div>

    <script src="{% static "js/utils.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            await fetchUsers();
        });

        async function fetchUsers() {
            const response = await fetch(BACKEND_URL + "/users", {
                method: "GET",
                credentials: "include"
            });
            if (!response.ok) {
                showError("Ошибка загрузки пользователей!");
                return;
            }

            let users = (await response.json()).users;
            const container = document.getElementById('user-list');
            container.innerHTML = '';

            if (users.length === 0) {
                container.innerHTML = '<p>Пользователей пока нет.</p>';
                return;
            }

            const resp = await fetch(`${BACKEND_URL}/auth/verify-token`, {
                method: 'GET',
                credentials: 'include'
            });
            const current_user = (await resp.json()).user;
            

            users.forEach(user => {
                const item = document.createElement('div');
                item.className = 'block-item';

                const full_name = document.createElement('div');
                full_name.className = 'item-left';
                full_name.textContent = `${user.first_name} ${user.patronymic} ${user.last_name}`;
                full_name.onclick = () => {
                    window.location.replace(`users/${user.id}`);
                };

                const role = document.createElement('div');
                role.className = 'item-center';
                role.textContent = ROLES_CHOICES[user.role];
                role.style.color = ROLES_COLORS[user.role];

                const right = document.createElement('div');
                right.classList.add("right");

                const deleteBtn = document.createElement('button');
                deleteBtn.textContent = 'Удалить';
                deleteBtn.classList.add("button");
                deleteBtn.onclick = () => deleteUser(user);

                right.appendChild(role);
                if (current_user.role === "admin") right.appendChild(deleteBtn);

                item.appendChild(full_name);
                item.appendChild(right);
                container.appendChild(item);
            });
        }

        async function deleteUser(user) {
            showLoading();
            let response = await fetch(`${BACKEND_URL}/users/${user.id}/delete`, {
                method: 'DELETE', credentials: 'include'
            });
            if (response.ok) {
                showMessage("Пользователь удалён.");
                await fetchUsers();

            } else {
                showError("Ошибка при удалении пользователя.");
            }
            hideLoading();
        }

        
    </script>
{% endblock %}
